* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

#title{
  flex:1;
}

header{
    background-color:#FFAEBD ;
    padding: 2vw;
}

header li{
    list-style: none;
    display: flex;
    flex-direction: column;
}


